html,
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: antiquewhite;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;



}

img {

    width: 250px;
    margin: 0 auto;

}

input {
    color: dimgray;
    background-color: lightgray;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    border-color: transparent;
    text-align: center;
    font-family: "Rubik", sans-serif;
}




button {

    color: white;
    background-color: crimson;
    border-color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    border-color: transparent;
    text-align: center;
    font-family: "Rubik", sans-serif;
    margin-top: 10px;
}

button:hover {
    color: white;
    background-color: brown;
    cursor: pointer;
}


ul {
    list-style-type: none;
    /* removes bullet points */
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
    
}

li {
    font-size: 20px;
    background-color:ivory;
    padding: 15px;
    flex-grow: 0.5;
    border-radius: 8px;
    text-align: center;
    box-shadow: 1px 2px 1px 1px grey;
}

li:hover{
    background-color: bisque;
}